<app-admin></app-admin>
    <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- ===== BOX ICONS ===== -->

     <title>Liste des rendez-Vous</title>
    </head>



	<body id="body-pd">


		<!-- Begin Page Content -->
		<div class="container-fluid" style="padding-top:1rem;">





        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"><b>Liste des rendez-vous</b></h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Informations des rendez-Vous</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nom et prénom</th>
                                <th>Date de prise </th>
                                <th>Date rendez-vous</th>
                                <th>Description</th>
                                <th>Type de maladie</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>

					                <form action="/CabinetMedicale/RendezVous" method="POST">
					                	<input type="hidden" name="id" value="" />
					                	<input type="hidden" name="type" value="A" />
					                	<button class="btn btn-danger" type="submit"><i class="fas fa-calendar-times"></i></button>
					                </form>

								</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
